<body class="skin-blue sidebar-mini" cz-shortcut-listen="true" style="height: auto;">
  <div class="wrapper" style="height: auto;">



      <!-- Main content -->
<section class="content">
    <div class="row" >
      <!-- all items -->
      <div class="col-lg-1">
            <!-- small box -->
            <div class="btn" style="width: 120px ; background:lightgrey">
            <h4><%=(Item.count).to_s%></h4>
            <h4>items</h4>
            <i class="fa fa-home" style = "font-size:36px;color:#008cff"></i>
            <h5>all</h5>
        </div>


      </div>
<!-- incomplete items -->
      <div class="col-lg-1">
              <!-- small box -->
          <% @incomplete = (Item.count).to_s %>
          <div class="btn" style="width: 120px ; background:lightgrey" >
              <h4><%= @incomplete %></h4>
              <h4>items</h4>
              <i class="fa fa-thumbs-o-down" style = "font-size:36px;color:orange"></i>
              <h5>incomplete</h5>
          </div>
      </div>
<!-- completed items -->
          <div class="col-lg-1">
               <% @completed = (Item.count).to_s %>
               <div class="btn" style="width: 120px; background:lightgrey" >
                  <h4><%= @completed %></h4>
                  <h4>items</h4>
                  <i class="fa fa-thumbs-o-up" style = "font-size:36px;color:#189b25"></i>
                  <h5>completed</h5>
              </div>
              </div>


          <!-- wharehouse organisation all locations -->
          <div class="col-lg-1">
                  <!-- small box -->
              <div class="btn" style="width: 120px ; background:lightgrey" >
                  <h4> 999 </h4>
                  <h4>locations</h4>
                  <i class="fa fa-industry" style = "font-size:36px;color:#008cff"></i>
                  <h5> (All) </h5>
              </div>
          </div>
          <!-- wharehouse organisation free locations -->
          <div class="col-lg-1">
                  <!-- small box -->
              <div class="btn " style="width: 120px ; background:lightgrey">

                  <h4> 999 </h4>
                  <h4>locations</h4>
                  <i class="fa fa-industry" style = "font-size:36px;color:#189b25"></i>
                  <h5> (Free) </h5>
              </div>
          </div>
          <!-- wharehouse organisation free locations -->
          <div class="col-lg-1">
                  <!-- small box -->
              <div class="btn" style="width: 120px ; background:lightgrey" >
                  <h4> 999 </h4>
                  <h4>locations</h4>
                  <i class="fa fa-industry" style = "font-size:36px;color:orange"></i>
                  <h5> (Occupied) </h5>
              </div>
          </div>


      </div>
          <!-- ./col -->
    </div>
       <!-- /.row -->
</section>


        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Orders (0)</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>PO / Line</th>
                      <th>Qty</th>
                      <th>Customer Order</th>
                      <th>Location</th>
                      <th>
                        <i class="ion ion-log-in"></i>
                      </th>
                      <th>
                        <i class="ion ion-loop"></i>
                      </th>
                      <th>
                        <i class="ion ion-trash-b"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!-- ./col -->

          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Messages (6)</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered table-hover">
                  <tbody><tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>
                      <i class="ion ion-edit"></i>
                    </th>
                    <th>
                      <i class="ion ion-trash-b"></i>
                    </th>
                  </tr>
                  <tr>
                    <td>Test</td>
                    <td>test@yaho.com</td>
                    <td>21221221212</td>
                    <td><a class="ion ion-edit" href="/members/3/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/3">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                  <tr>
                    <td>pauklongpauklongpauklongpauklongpauklongpauklongpauklongpauklong</td>
                    <td>p@g.com</td>
                    <td>8888999777666</td>
                    <td><a class="ion ion-edit" href="/members/2/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/2">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                  <tr>
                    <td>dkdkdkdd</td>
                    <td>kkkdkd</td>
                    <td>kdkdkkd</td>
                    <td><a class="ion ion-edit" href="/members/1/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/1">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                  <tr>
                    <td>Test</td>
                    <td>Test@gmail.com</td>
                    <td>3121211212</td>
                    <td><a class="ion ion-edit" href="/members/4/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/4">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                  <tr>
                    <td>gg</td>
                    <td>ff</td>
                    <td>12</td>
                    <td><a class="ion ion-edit" href="/members/5/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/5">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                  <tr>
                    <td>johm</td>
                    <td>john@mail.com</td>
                    <td>345345345</td>
                    <td><a class="ion ion-edit" href="/members/6/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/6">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                </tbody></table>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>



</div><div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div></body>
