<body class="skin-blue sidebar-mini" cz-shortcut-listen="true" style="height: auto;">
  <div class="wrapper" style="height: auto;">



      <!-- Main content -->
      <section class="content">

        <div class = "container">
         <!-- Small boxes (Stat box) -->
        <div class="row">

          <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="btn btn-primary">
            <h3>20627</h3>
                <i class="fa fa-home"></i>
                <p>Total items </p>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="btn btn-success">
                <h3>20387</h3>
                <i class="fa fa-search"></i>
                <p>Items Available</p>
            </div>
          </div>

          <!-- ./col -->
          <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="btn btn-warning">
                <h3>240</h3>
                <i class="fa fa-barcode"></i>
                <p>Items Unavailable</p>
              </div>
            </div>

            <!-- ./col -->
            <div class="col-lg-2 col-xs-6">
              <!-- small box -->
              <div class="btn btn-warning">
                  <h3>240</h3>
                  <i class="fa fa-barcode"></i>
                  <p>Items Unavailable</p>
                </div>
              </div>


          <!-- ./col -->
          <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="btn btn-danger">
                <h3>0</h3>
                <i class="fa fa-barcode"></i>
                <p>Purchase Orders</p>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
</div>
</section>


        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Orders (0)</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>PO / Line</th>
                      <th>Qty</th>
                      <th>Customer Order</th>
                      <th>Location</th>
                      <th>
                        <i class="ion ion-log-in"></i>
                      </th>
                      <th>
                        <i class="ion ion-loop"></i>
                      </th>
                      <th>
                        <i class="ion ion-trash-b"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!-- ./col -->

          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Messages (6)</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered table-hover">
                  <tbody><tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>
                      <i class="ion ion-edit"></i>
                    </th>
                    <th>
                      <i class="ion ion-trash-b"></i>
                    </th>
                  </tr>
                  <tr>
                    <td>Test</td>
                    <td>test@yaho.com</td>
                    <td>21221221212</td>
                    <td><a class="ion ion-edit" href="/members/3/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/3">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                  <tr>
                    <td>pauklongpauklongpauklongpauklongpauklongpauklongpauklongpauklong</td>
                    <td>p@g.com</td>
                    <td>8888999777666</td>
                    <td><a class="ion ion-edit" href="/members/2/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/2">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                  <tr>
                    <td>dkdkdkdd</td>
                    <td>kkkdkd</td>
                    <td>kdkdkkd</td>
                    <td><a class="ion ion-edit" href="/members/1/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/1">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                  <tr>
                    <td>Test</td>
                    <td>Test@gmail.com</td>
                    <td>3121211212</td>
                    <td><a class="ion ion-edit" href="/members/4/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/4">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                  <tr>
                    <td>gg</td>
                    <td>ff</td>
                    <td>12</td>
                    <td><a class="ion ion-edit" href="/members/5/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/5">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                  <tr>
                    <td>johm</td>
                    <td>john@mail.com</td>
                    <td>345345345</td>
                    <td><a class="ion ion-edit" href="/members/6/edit"></a></td>
                    <td>
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/members/6">
                      <i class="ion ion-trash-b"></i>
</a>                    </td>
                  </tr>
                </tbody></table>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>



</div><div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div></body>
