
.btn-round {
  border-radius: 50px !important;
  font-family: Arial;
  color: #ffffff;
  font-size: 5px;
  width: 50px;
  height: 20px;
}

.btn-round.hover {
  background: #3cb0fd;
  text-decoration: none;
}

.btn-round.ok {
  background: green;
}

.btn-round.nok {
  background: red;
}

